html, body {
    height: 100%;
    width: 100%;
    background-image: linear-gradient(to right top, #1e6200, #007b53, #00909f, #009fde, #5ea4ff);
    color: #ababab;
    font-weight:800;
}
/* .wrapper {
    color: rgba(255, 255, 255, .8);
    text-shadow: 0 .05rem .1rem rgba(0, 0, 0, .5);
    box-shadow: 5px 5px 20px rgba(0, 0, 0, .5);
    padding: 20px;
    border-radius: 20px;
} */
.pms{
    color: #b83535;
}
.custom-mb {
    margin-bottom: 30vh!important;
}
.cover-container {
    max-width: 42em;
}
.cover-heading, .temp-heading {
    color: #E0F1FF;
    font-size: 2.5rem;
    margin-bottom: 20px;
}
.opener {
    font-size: 1.25rem;
    font-weight: 300;
}
.masthead {
    margin-bottom: 50px;
    /* position:relative; */
    /* background-color: #7E8271; */
}
.masthead-brand {
    margin-bottom: 10px;
}
.masthead-brand > a {
    color: #E0F1FF;
}
.nav-masthead .nav-link {
    padding: .25rem 0;
    font-weight: 700;
    color: #E0F1FF;
    background-color: transparent;
    border-bottom: .25rem solid transparent;
}
.greeting {
    font-size: 16px;
    margin: 0 5px 0;
    font-weight: 700;
    padding: 0.25rem 0;
}

.nav-masthead .nav-link:hover,
.nav-masthead .nav-link:focus {
    border-bottom-color: rgba(10, 10, 10, .25);
}
.nav-masthead .nav-link + .nav-link {
    margin-left: 1rem;
}
.cover {
    padding: 0 1.5rem;
}
.cover .btn-lg {
    padding: .75rem 1.25rem;
    font-weight: 700;
}
.center-form {
    width: 100%;
    padding: 20px;
    margin: auto;
    text-align: left;
}
.logged-out {
    width: 500px;
    padding: 30px;
    margin: auto;
    color: #fbbb96;
    background-color: rgba(199, 186, 179, .1);
    border-radius: 20px;
    box-shadow: 5px 5px 5px rgba(0, 0, 0, .1);
}
.form-text>ul {
    list-style: none;
    color: #f0f0f0;
}
.side-links{
    display: none;
}
.icon {
    color: #0F0F0F;
}
.content{
    padding: 20px;
    margin-bottom: 120px;
}
@media (min-width: 1200px) {
    .masthead-brand {
        float: left;
    }
    .nav-masthead {
        float: right;
    }
    .sidebar {
        position: fixed;
        top: 0;
        padding-top: 20vh;
        left: 0;
        bottom: 0;
        width: 250px;
        overflow-y: scroll;
        background-color: rgba(0, 0, 0, .1);
    }
    .side-links{
        display: block;
    }
    .icon {
        display: none;
    }
}