{% load bootstrap4 %}
{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
  <title>Bug Off</title>

  {% bootstrap_css %}
  {% bootstrap_javascript jquery='full' %}
  <link rel="stylesheet" type="text/css" href="{% static 'css/styles.css' %}">

  <script src="{% static 'js/scripts.js' %}" async></script>
</head>
<body class="text-center">
  <div class="cover-container d-flex w-100 h-100 p-3 mx-auto flex-column">
    <header class="masthead">
      <div class="inner">
        <h2 class="masthead-brand">
          <a href="{% url 'bugs:index' %}">Bugger</a>
        </h2>
        <nav class="nav nav-masthead justify-content-center">
          {% if user.is_authenticated %}
            <p class="greeting">Hello,</p><a class="nav-link" href="{% url 'users:profile' user.id %}">{{ user.first_name }}</a>
            <a class="nav-link" href="{% url 'users:logout' %}">Log out</a>
          {% else %}
            <a class="nav-link" href="{% url 'users:login' %}">Log in</a>
            <a class="nav-link" href="{% url 'users:register' %}">Register</a>
            <a class="nav-link" href="{% url 'users:password_reset' %}">Password Reset</a>
          {% endif %}
        </nav>
      </div>
    </header>
    <main role="main" class="inner cover">   
      <div class="wrapper">
        {% block content %}{% endblock content %}
      </div>   
    </main>
  </div>

  {% if user.is_authenticated %}
    <div class="container-fluid">
      <div class="row">
        <nav id="sidebar-sticky pt-3">
          <ul class="nav flex-column">
            <li class="nav-item"><a href="{% url 'bugs:projects' %}">Projects</a></li>
            <li class="nav-item"><a href="{% url 'bugs:teams' %}">Teams</a></li>
          </ul>
        </nav>
      </div>
    </div>
  {% endif %}
</body>
</html>