{% load bootstrap4 %}
{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
  <title>Bug Off</title>

  {% bootstrap_css %}
  {% bootstrap_javascript jquery='full' %}
  <link rel="stylesheet" type="text/css" href="{% static 'css/styles.css' %}">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

  <script src="{% static 'js/scripts.js' %}" async></script>
</head>
<body class="text-center">
  <div class="cover-container d-flex h-100 p-3 mx-auto flex-column">
    <header class="masthead">
      <div class="inner fixed-top p-5">
        <h2 class="masthead-brand">
          <a href="{% url 'bugs:index' %}">Bugger</a>
        </h2>
        <nav class="nav nav-masthead justify-content-center">
          {% if user.is_authenticated %}
            <p class="greeting">Hello,</p><a class="nav-link" href="{% url 'users:profile' user.id %}">{{ user.first_name }}</a>
            <a class="nav-link" href="{% url 'users:logout' %}">Log Out</a>
            <a class="nav-link" href="{% url 'bugs:projects' %}">Projects</a>
            {% if user.is_administrator or team.manager == user %}
              <a class="nav-link" href="{% url 'bugs:teams' %}">Teams</a>
            {% endif %}
          {% else %}
            <a class="nav-link" href="{% url 'users:login' %}">Log in</a>
            <a class="nav-link" href="{% url 'users:register' %}">Register</a>
            <a class="nav-link" href="{% url 'users:password_reset' %}">Password Reset</a>
          {% endif %}
        </nav>
      </div>
    </header>
    {% if request.get_full_path == "/" %}
      <div class="custom-mb"></div>
    {% endif %}
    <main role="main" class="inner cover">   
      <div class="content">
        {% block content %}{% endblock content %}
      </div>   
    </main>
  </div>
</body>
</html>