{% extends 'bugs/base.html' %}

{% block content %}
  <h2>Project: {{ project.title }}</h2>
  <p>{{ project.date_added|date:'M d, Y' }}</p>
  <p>Description: {{ project.details|linebreaks }}</p>
  <h3>Team(s):</h3>
  {% for team in project.team_set.all %}
    <ul><a href="{% url 'bugs:team' team.id %}">{{ team.name }}</a></ul>
  {% endfor %}

  <h4>Tickets</h4>
  <ul>
    {% for ticket in tickets %}
      <li>
        <p>
          <a href="{% url 'bugs:ticket' project.id ticket.id%}">
            {{ ticket.title }}
          </a>
        </p>
      </li>
    {% empty %}
      <li>There are no tickets for this project.</li>
    {% endfor %}
    <p><a href="{% url 'bugs:new_ticket' project.id %}">Add a ticket</a></p>
  </ul>
  <p><a href="{% url 'bugs:edit_project' project.id %}">Edit project</a></p>

{% endblock content %}