{% extends 'bugs/base.html' %}

{% block content %}
  <h2>Ticket: {{ ticket.title }}</h2>
  <h3>Project: {{ project.title }}</h3>
  <p>{{ ticket.date_added|date:'M d, Y h:i' }}</p>
  <p>Details:</p>
  <p>{{ ticket.details|linebreaks }}</p>
  
  <h3>Attachment</h3>
  {% if tickets.attachment %}
    <p>
      <a href="{{ ticket.attachment.attachment_url }}">{{ ticket.attachment.attachment_filename }}</a>
    </p>
  {% else %}
    <p>There is no attachment for this ticket.</p>
  {% endif %}
  

  <p>
    <a href="{% url 'bugs:edit_ticket' project.id ticket.id %}">Edit ticket</a>
  </p>

  <ul>
    {% for comment in comments %}
      <li>
        <p>{{ comment.comment|linebreaks }}</p>
        <p>{{comment.date_added|date:"M d, 'y h:i a"}}</p>
        <a href="{% url 'bugs:edit_comment' project.id ticket.id comment.id %}">Edit</a>
      </li>
    {% empty %}
      <li>There are no comments for this ticket.</li>
    {% endfor %}
  </ul>
  
  {% if new_comment  %}
    <h5>Your comment has been added!</h5>
  {% else %}
    <h4>Add a new comment</h4>
    <form action="{% url 'bugs:ticket' project.id ticket.id %}" method='post'>
      {% csrf_token %}
      {{ form.as_p }}
      <button name='submit'>Add comment</button>
    </form>
  {% endif %}

{% endblock content %}
