{% extends 'bugs/base.html' %}

{% block content %}
  <h2>Ticket: {{ ticket.title }}</h2>
  <h3><a href="{% url 'bugs:project' project.id %}">Project: {{ project.title }}</a></h3>
  <p>{{ ticket.date_added|date:'M d, Y h:i' }}</p>
  <p>Details:</p>
  <p>{{ ticket.details|linebreaks }}</p>

  <ul>
    {% if file.count > 0 %}
      {% for file in files %}
        {% comment %} {% if {{file.img.url}} %}{% endif %} {% endcomment %}
        <li><a href="{{file.img.url}}" download>{{ file.name }}</a></li>
      {% empty %}
        <li>There are no attachments for this ticket.</li>
      {% endfor %}
    {% endif %}
  </ul>

  <h3>Status:</h3>
  <p>
    {{ ticket.get_status_display }} 
    {% comment %} Only display update route if the  {% endcomment %}
    {% for team in project.team_set.all %}
      {% if user.is_administrator or team.manager == user %}
        - <a href="{% url 'bugs:update_ticket_status' project.id ticket.id %}">Update</a>
      {% endif %}
    {% endfor %}
  </p>

  <p>
    <a href="{% url 'bugs:edit_ticket' project.id ticket.id %}">Edit ticket</a>
  </p>

  <ul>
    {% for comment in comments %}
      <li>
        <p>{{ comment.comment|linebreaks }}</p>
        <p>{{comment.date_added|date:"M d, 'y h:i a"}}</p>
        <a href="{% url 'bugs:edit_comment' project.id ticket.id comment.id %}">Edit</a>
      </li>
    {% empty %}
      <li>There are no comments for this ticket.</li>
    {% endfor %}
  </ul>
  
  {% if new_comment  %}
    <h5>Your comment has been added!</h5>
  {% else %}
    <h4>Add a new comment</h4>
    <form action="{% url 'bugs:ticket' project.id ticket.id %}" method='post'>
      {% csrf_token %}
      {{ form.as_p }}
      <button name='submit'>Add comment</button>
    </form>
  {% endif %}

{% endblock content %}
