{% extends 'bugs/base.html' %}
{% load bootstrap4 %}
{% load static %}

{% block content %}
    {% if form.errors %}
      <h3>We're sorry, the username/password combination you entered does not match.</h3>
    {% endif %}
    <form class="form-signin center-form" action="{% url 'users:login' %}" method="post">
      {% csrf_token %}
      {% bootstrap_form form %}

      <div class="form-actions text-center mt-5">
        {% buttons %}
          <button name="submit" class="btn btn-primary">Sign in</button>
        {% endbuttons %}
      </div>
      <input type="hidden" name="next" value="{% url 'bugs:index' %}">

    </form>
    <hr class="m-0">
    <div class="mt-3 p-3">
      <a href="{% url 'users:password_reset' %}" class="mr-3"><button name="reset_pw" class="btn btn-primary">Password Reset</button></a>
      <a href="{% url 'users:register' %}"><button name="register" class="btn btn-primary">Register</button></a>
    </div>
{% endblock content %}