{% extends 'bugs/base.html' %}
{% load bootstrap4 %}
{% load static %}

{% block content %}
  <form class="form-register center-form" action="{% url 'users:register' %}" method="post">
    {% csrf_token %}
    {% bootstrap_form form %}

    <div class="form-actions text-center mt-5">
      {% buttons %}
        <button name="submit" class="btn btn-primary">Submit</button>
      {% endbuttons %}
    </div>
    <input type="hidden" name="next" value="{% url 'bugs:index'%}">
  </form>
{% endblock content %}